<!-- index.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/images/index.css">
    <link rel="stylesheet" href="/images/Header.css">
</head>
<body>
<!-- 헤더 -->
<header>
    <h1>Study Village</h1>
    <div class="auth-buttons">
        <!-- 로그인 버튼 -->
        <button onclick="window.location.href='/login';">Login</button>
        <!-- 회원가입 버튼 -->
        <button onclick="window.location.href='/userCreate';">Sign Up</button>
    </div>
</header>
<!-- 네비게이션 -->

<!-- 메인 콘텐츠 -->
<main>
    <h2>Study Village에 오신 것을 환영합니다.</h2>
    <!-- 그룹 리스트 -->
    <div class="content">
        <div class="group-box">
            <h3>그룹 관리</h3>
            <p>그룹을 생성하고, 팀원를 초대하거나 삭제할 수 있습니다.
                팀원들과 독립적인 작업 공간에서 과제를 효과적으로 진행해보세요! </p>
        </div>
        <div class="group-box">
            <h3>파일 관리</h3>
            <p>그룹 내에서 파일을 업로드하거나 다운로드할 수 있습니다.
                중요한 자료를 쉽고 편리하게 공유해보세요! </p>
        </div>
        <div class="group-box">
            <h3>학습 도구 제공</h3>
            <p>계산기, 사전, 그래프 도구 등 과제 수행에 필요한 다양한 기능을 사용할 수 있습니다.
                Study Village 안에서 필요한 모든 학습 도구를 간편하게 활용해보세요!</p>
        </div>
        <div class="group-box">
            <h3>채팅 기능</h3>
            <p>그룹 멤버 간의 실시간 소통을 지원합니다.
                과제에 대한 의견을 나누거나 작업 진행 상황을 공유해보세요!</p>
        </div>
        <div class="group-box">
            <h3>게시판 기능</h3>
            <p>그룹 내에서 공지 사항을 작성하고 공유할 수 있습니다.
                게시판을 활용하여 공지나 과제 관련 주요 내용을 놓치지 마세요!</p>
        </div>
    </div>
</main>
<!-- 푸터 -->
<footer>
    &copy; 2024 Study Village. All rights reserved.
</footer>
</body>
</html>
